src/main/webapp/wsdl/FlanelografoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.flanelografo.fanor.edu.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.flanelografo.fanor.edu.br" xmlns:intf="http://webservice.flanelografo.fanor.edu.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.flanelografo.fanor.edu.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="consultaSala">
    <complexType>
     <sequence>
      <element name="curso" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaSalaResponse">
    <complexType>
     <sequence>
      <element name="consultaSalaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultaSalaRequest">

      <wsdl:part element="impl:consultaSala" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaSalaResponse">

      <wsdl:part element="impl:consultaSalaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FlanelografoService">

      <wsdl:operation name="consultaSala">

         <wsdl:input message="impl:consultaSalaRequest" name="consultaSalaRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaSalaResponse" name="consultaSalaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FlanelografoServiceSoapBinding" type="impl:FlanelografoService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultaSala">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaSalaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaSalaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FlanelografoServiceService">

      <wsdl:port binding="impl:FlanelografoServiceSoapBinding" name="FlanelografoService">

         <wsdlsoap:address location="http://localhost:8080/tcembed/flanelografo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
